<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.singlecog.trailkeeper" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.singlecog.trailkeeper.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.singlecog.trailkeeper.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Activites.TrailKeeperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- Debug API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDUw5PY0w51geZKviFKBg-7nTmbO3TEFzI" />

        <!-- Release API Key -->
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyBE-WJqGxaiy-Go6nehG-g_pL-mMIoXbMs" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activites.HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.FindTrail"
            android:label="@string/title_activity_find_trail"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.MapActivity"
            android:label="TrailKeeper Map"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.TrailScreen"
            android:label="@string/title_activity_trail_screen"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.TrailMap"
            android:label="@string/title_activity_trail_map"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.TrailScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.TrailScreen" />
        </activity>
        <activity
            android:name=".Activites.CreateAccount"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.AccountSettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.SignIn"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.AccountSettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.GlobalUnit"
            android:label="Change Units"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.AccountSettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.UpdateAccount"
            android:label="@string/title_activity_update_account"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.AccountSettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.AccountSettings"
            android:label="@string/title_activity_account_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.Notifications"
            android:label="@string/title_activity_notifications"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.AllComments"
            android:label="@string/title_activity_all_comments"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <!-- custom Broadcast Receiver -->
        <receiver android:name="utils.MyCustomReceiver" >
            <intent-filter>
                <action android:name="com.singlecog.trailkeeper.NEW_COMMENT_NOTIF" />
                <action android:name="com.singlecog.trailkeeper.NEW_STATUS_NOTIF" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.singlecog.trailkeeper" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activites.AddTrail"
            android:label="@string/title_activity_add_trail"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.GetTrailPin"
            android:label="@string/title_activity_get_trail_pin"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
        <activity
            android:name=".Activites.Contact"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activites.HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.singlecog.trailkeeper.Activites.HomeScreen" />
        </activity>
    </application>

</manifest>
